.aboutme {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  .abountme_text {
    display: flex;
    flex-direction: column;
    h1 {
      background-color: rgb(73, 83, 80);
      color: white;
      margin: 1rem;
      font-size: 3rem;
      text-align: center;
      border-radius: 10px;
    }
    p {
      margin: 1rem;
      font-size: 1.25rem;
    }
  }
}

.introBox {
  margin: 1rem;
  h1 {
    background-color: rgb(73, 83, 80);
    color: white;
    margin: 1rem;
    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
  }
  tr {
    font-size: 1rem;
  }
}

.skill {
  margin: 1rem;
  h1 {
    background-color: rgb(73, 83, 80);
    color: white;
    margin: 1rem;
    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
  }
  tr {
    display: flex;
    flex-direction: row;
    text-align: center;

    th:first-of-type {
      margin: 0.5rem;
      background-color: rgb(28, 162, 172);
      color: white;
      font-size: 1.5rem;
      padding: 0.25rem;
      border-radius: 5px;
    }

    :nth-child(1) {
      margin: 0.5rem;
      flex: 1;
    }
    :nth-child(2) {
      margin: 0.5rem;
      flex: 1;
    }
    :nth-child(3) {
      margin: 0.5rem;
      flex: 1;
    }
    :nth-child(4) {
      margin: 0.5rem;
      flex: 4;
    }
    :nth-child(5) {
      margin: 0.5rem;
      flex: 1.75;
    }
    th {
      font-size: 1.25rem;
    }
    td {
      font-size: 1rem;
    }
  }
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  > * {
    font-size: 1.25rem;
  }
}

//RWD

@media screen and (max-width: 850px) {
  .aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutme_photo {
    height: 80%;
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .skill {
    thead {
      tr {
        display: none;
      }
    }
    tbody {
      tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        :nth-child(1) {
          display: none;
        }
        :nth-child(2) {
          font-size: 2rem;
        }
      }
    }
  }
}
