.aboutme {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  .abountme_text {
    display: flex;
    flex-direction: column;
    h1 {
      margin: 1rem;
      font-size: 3rem;
    }
    p {
      margin: 1rem;
      font-size: 1.25rem;
    }
  }
}

.introBox {
  margin: 1rem;
  h1 {
    margin: 1rem;
    font-size: 3rem;
  }
  tr {
    font-size: 1rem;
  }
}

.skill {
  margin: 1rem;
  h1 {
    margin: 1rem;
    font-size: 3rem;
  }
  tr {
    display: flex;
    flex-direction: row;
    text-align: center;

    th:first-of-type {
      margin: 0.5rem;
      background-color: cadetblue;
      color: white;
      font-size: 1.5rem;
      padding: 0.25rem;
      border-radius: 5px;
    }

    :nth-child(1) {
      margin: 0.5rem;
      flex: 1;
    }
    :nth-child(2) {
      margin: 0.5rem;
      flex: 1;
    }
    :nth-child(3) {
      margin: 0.5rem;
      flex: 1;
    }
    :nth-child(4) {
      margin: 0.5rem;
      flex: 4;
    }
    :nth-child(5) {
      margin: 0.5rem;
      flex: 1.75;
    }
    th {
      font-size: 1.25rem;
    }
    td {
      font-size: 1rem;
    }
  }
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  > * {
    font-size: 1.25rem;
  }
}
